.border{
    border: 2px solid rgb(227, 0, 0);
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: #121212;
    color: white;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
/* Works in Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background: #555;       /* Scrollbar color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;       /* On hover */
}